@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@theme {
  --color-midblue: #00315e;
  --color-primary: #102e50;
  --color-aqua: #4fb7b3;
  --color-gallery: #efefef;
  --color-text: #f6f6f6;
  --color-midsky: #6ec1e4;
  --shadow-item: 0 4px 30px 3px rgba(0, 0, 0, 0.25);
  --font-montserrat: Montserrat, sans-serif;
  --font-cairo: Cairo, sans-serif;
}
@layer components {
  body {
    @apply font-montserrat;
  }
}
