@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@utility container {
  /* margin-inline: auto;
  padding-inline: 1rem; */
  @apply mx-auto px-2 md:px-4 lg:px-8;
}

@theme {
  --color-midblue: #00315e;
  --color-primary: #102e50;
  --color-aqua: #4fb7b3;
  --color-gallery: #efefef;
  --color-text: #f6f6f6;
  --color-midsky: #6ec1e4;
  --color-azur: #6882a1;
  --shadow-item: 7px 7px 11px -4px #00000040;

  --font-montserrat: Montserrat, sans-serif;
  --font-cairo: Cairo, sans-serif;
}
@layer components {
  body {
    @apply font-montserrat;
  }
  .btn {
    @apply py-2 px-5 bg-aqua rounded-sm text-white cursor-pointer font-semibold font-montserrat;
  }
  .input-field {
    @apply block border border-azur p-2 indent-1 text-lg focus:outline-0 rounded-md;
  }
}
